h1 {
    color: red;
}

body {
    background: url("../images/faded.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.darkeningDiv {
    background: rgba(0, 0, 0, 0.7)
}

/*.contentDiv {*/
    /*opacity: 1.00;*/
/*}*/