h1, h2, h3, h4, h5, h6, li, p, a {
    color: #FFFFFF;
}

body {
    background: url("../images/faded1.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.darkeningDiv {
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);
    box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);
}

/*.nameDiv {*/
    /*display: inline-block;*/
    /*background: rgba(0, 0, 0, 0.8);*/
    /*-webkit-box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);*/
    /*-moz-box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);*/
    /*box-shadow: 0px 0px 10px 10px rgba(10,10,10,1);*/
/*}*/

.contentDiv {
    text-align: center;
}

.projectExplanation {
    padding: 20px 0 10px 0;
    margin: 0 30px 0 30px;
}

.linkBox {
    margin-bottom: 5px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    text-shadow: 2px 2px #000000;
}

a:hover {
    color: #f2e1ac;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
    box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
}

a:target {
    color: #f2e1ac !important;
}

h1 {
    padding-left: 30px;
    text-shadow: 2px 2px #000000;
    font-family: 'Special Elite', cursive;
}

h2 {
    padding-top: 15px;
    font-family: 'Special Elite', cursive;
}

.footieDiv {
    padding: 5px 5px 0 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
    box-shadow: 0px 0px 3px 3px rgba(10,10,10,1);
    display: inline-block;
}

.moduleDiv {
    margin-top: 5px;
}

.techList li {
    padding: 0 20px 0 0;
}

.techList {
    padding: 0 0 0 0;
}

.slide-container {
    position:relative;
}

.slide.ng-enter, .slide.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    transition:0.5s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.slide.ng-enter-stagger{
    transition-delay:1s;
    -webkit-transition-delay:1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
}

.slide.ng-enter {
    z-index:100;
    top:600px;
    opacity:0;
}

.slide.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}

.slide.ng-leave {
    z-index: 101;
    top: 0;
    opacity: 1;
}