<!DOCTYPE html>
<html ng-app="myApp">
<head lang="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR Stafki</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

</head>
<body>
    <div>
        <header>
            <div>
                <h1>P.R. STAFKI</h1>
            </div>
        </header>
        <div class="footieDiv">
            <ul>
                <li><a href="https://github.com/paulstafki">// Github</a></li>
                <li><a href="https://www.linkedin.com/pub/paul-r-stafki/b8/54a/207">// LinkedIn</a></li>
                <li>// paulstafki@gmail.com</li>
            </ul>
        </div>
        <div class="moduleDiv">
            <ul>
                <li><a href="#home">// Hosehead</a></li>
                <li><a href="#dossier">// Dossier</a></li>
                <li><a href="#gamma">// Gamma Carousel</a></li>
                <li><a href="#racing">// Message Board</a></li>
            </ul>
        </div>
        <div>
            <main ng-view></main>
        </div>

        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>
    </div>
</body>
</html>