<div class="darkeningDiv">
    <div class="contentDiv">
        <h2>Gamma Carousel</h2>
        <br>
        <div class="linkBox">
            <a href="https://enigmatic-spire-7298.herokuapp.com/">View on Heroku   /</a>
            <a href="https://github.com/paulstafki/big_nasty_weekend_project_03">/   View on Github</a>
        </div>
        <br>
        <img src="/assets/images/carouselss.png" style="width:50vw;height:auto;"/>
        <br>
        <div class="projectExplanation">
            <p>A jQuery Carousel utilizing an each loop to iterate through a very friendly collection of compliments from my time with Gamma Cohort at Prime Digital Academy. Everything for this project is stored server side. </p>
        </div>
    </div>
</div>