<div class="darkeningDiv">
    <div class="contentDiv">
        <h2>Personal Hobbies</h2>
        <br>
        <img src="/assets/images/wifehike.jpg" style="width:75vw;height:auto;"/>
        <br>
        <div class="projectExplanation">
            <p>Hiking! This is me and my wife on a hike outside of Banff, Alberta. Not pictured - Our adorable dog who hikes nearly every with us.</p>
        </div>
        <hr>
        <br>
        <img src="/assets/images/moto2.jpg" style="width:75vw;height:auto;"/>
        <br>
        <div class="projectExplanation">
            <p>Since the spring of 2014, I've taken my love of 2 wheeled shenanigans to the track. Track days provide the everyday rider with a safe environment to practice riding quickly. Near the end of the '15 season I took place in my first organized race, managing 1st in the GP4 class, and 3rd overall.</p>
        </div>
        <div class="linkBox">
            <a href="http://www.roadclosedracing.com/drupal/">// Join us on track</a>
        </div>
        <hr>
        <br>
        <img src="/assets/images/snowboard.jpg" style="width:auto;height:75vw;"/>
        <br>
        <div class="projectExplanation">
            <p>Snowboarding, my first love, unapologetically responsible for a majority of my broken bones. The sport led me to Colorado early in my twenties, and beckons me back every chance it gets.</p>
        </div>
        <hr>
        <br>
        <img src="/assets/images/nala.jpg" style="width:auto;height:75vw;"/>
        <br>
        <div class="projectExplanation">
            <p>Last, however certainly not least, the aforementioned 90 lbs of adorable Anatolian Shepherd. Don't wear black around Nala, she'll happily shed all over you.</p>
        </div>
    </div>
</div>