<div class="darkeningDiv">
    <div class="contentDiv">
        <h2>Vent Generator</h2>
        <br>
        <div class="linkBox">
            <a href="https://blooming-oasis-9386.herokuapp.com/">View on Heroku   /</a>
            <a href="https://github.com/paulstafki/super_gross_javascript">/   View on Github</a>
        </div>
        <br>
        <img src="/assets/images/vent.png" style="width:50vw;height:28vw;"/>
        <br>
        <div class="projectExplanation">
            <p>A relatively simple exercise in AJAX calls, this program is a random phrase generator. Utilizing a when/then in jQuery, once all AJAX calls are complete the new random phrase is appended to the DOM. An amusing addition to the project is displayed underneath the random phrase where I used a conditional, checking for a vowel, to determine if 'a' or 'an' is to be used.</p>
        </div>
        <ul class="techList">
            <li>Grunt</li>
            <li>NodeJS/ExpressJS</li>
            <li>AJAX</li>
            <li>Javascript</li>
            <li>jQuery</li>
        </ul>
    </div>
</div>